node_modules
public/*
dist
!public/.gitkeep
.env
.env.test
.wwebjs_auth/*
.wwebjs_cache/*
.clinic/*


package-lock.json
yarn.lock
yarn-error.log
node_trace.1.log

/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/
